<h1>Configure your cookie</h1>
<h2>Select cookie base</h2>
{{#each bases}}
    <a href="/configurator/select-base/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a>
{{/each}}

<h2>Select your favorite addons</h2>
{{#each addons}}
    <a href="/configurator/add-addon/{{this.[0]}}">Add {{this.[0]}} for {{this.[1]}} PLN</a>
{{/each}}





{{> cookie-preview}}